<html>  
  <body>
      <div class="top1">
          <h1>Video calling</h1>
        </div>
        
        <div class="container">
        
          <div id="chromeFileWarning" class="frame big">
            <b style="color: red;">Warning!</b> Protocol "file" used to load page in Chrome.<br><br>
            Please avoid loading files directly from disk when developing WebRTC applications using Chrome.<br>
            Chrome disables access to microphone which prevents proper functionality.<br>
            <br>
            You can allow working with "file:", if you start Chrome with the flag <i>--allow-file-access-from-files</i>
          </div>
        
          <div class="clearfix"></div>
        
          <div class="frame small">
            <div class="inner loginBox">
              <h3 id="login"><i class="fas fa-sign-in-alt"></i> Sign in</h3>
              <form id="userForm">
                <input id="username" placeholder="USERNAME"><br>
                <input id="password" type="password" placeholder="PASSWORD"><br><br>
                <button id="loginUser">Login</button>
                <button id="createUser">Create</button>
              </form>
              <div id="userInfo">
                <h3><span id="username"></span></h3>
                <button id="logOut"><i class="fas fa-sign-out-alt"></i> Logout</button>
              </div>
            </div>
        
            <div class="inner takeaways">

            </div>
          </div>
        
          <div class="frame">
            <h3><i class="fas fa-phone"></i> Video Call</h3>
            <div id="call">
              <form id="newCall">
                <input id="callUserName" placeholder="Username (alice)"><br>
                <button id="call"><i class="fas fa-phone"></i> Call</button>
                <button id="hangup"><i class="fas fa-power-off"></i> Hangup</button>
                <button id="answer"><i class="fas fa-phone-volume"></i> Answer</button>
                
                <audio id="ringback" src='assets/ringback.wav' loop></audio>
                <audio id="ringtone" src='assets/phone_ring.wav' loop></audio>
              </form>
            </div>
            <div class="clearfix"><br></div>
        
            <video id="outgoing" autoplay muted></video>
            <video id="incoming" autoplay></video>
        
            <div id="callLog">
            </div>
            <div class="error">
            </div>
          </div>
        </div>

  </body>
</html>

