<div id="app">
    <nav class="navbar navbar-light navbar-static-top" style="background-color: black;"> 
        <div class="container">  
        <span style="font-size:30px;cursor:pointer;color:white">Gion Hospital</span>

        <!-- Right Side Of Navbar-->
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item active">
            <a (click)="logout()" [routerLink]="['/']"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
            </li>                
        </ul>  
        </div>
    </nav>
</div>

<div class="container">
  
  <table class="table table-hover table-dark" border="1">

    <tr>
      <th>Name</th>
      <td>{{patient.name}}</td>
    </tr>

    <tr>
      <th>Age</th>
      <td>{{patient.age}}</td>
    </tr>

    <tr>
      <th>Sex</th>
      <td>{{patient.sex}}</td>
    </tr>

    <tr>
      <th style="font-size: 20px;">Diagnosis History:</th>
      <td></td>
    </tr>

    <tr>
      <th>Acuteness</th>
      <td>{{patient.diagnosis_history.acuteness}}</td>
    </tr>

    <tr>
      <th>Categories</th>
      <td *ngFor="let category of patient.diagnosis_history.categories">
        <ul>
          <li>{{category}}</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>Common Name of Condition</th>
      <td>{{patient.diagnosis_history.common_name}}</td>
    </tr>

    <tr>
      <th>Hint</th>
      <td>{{patient.diagnosis_history.hint}}</td>
    </tr>

    <tr>
      <th>Prevalence</th>
      <td>{{patient.diagnosis_history.prevalence}}</td>
    </tr>

    <tr>
      <th>Severity</th>
      <td>{{patient.diagnosis_history.severity}}</td>
    </tr>

    <tr>
      <th>Triage Level</th>
      <td>{{patient.diagnosis_history.triage_level}}</td>
    </tr>

    <tr>
      <th>Initial Symptom</th>
      <td>{{patient.diagnosis_history.initial_symptoms}}</td>
    </tr>

    <tr>
      <th style="font-size: 20px;">Possible Condition: </th>
      <td></td>
    </tr>

    <tr>
      <th>Condition Name</th>
      <td>{{patient.diagnosis_history.possible_condition}}</td>
    </tr>

    <tr>
      <th>Condition Probability</th>
      <td>{{patient.diagnosis_history.condition_probability}}</td>
    </tr>

    <tr *ngFor="let ques of patient.diagnosis_history.questions; let i = index" id="question">
      <th>Question {{i+1}}</th>
      <td>
        <ul>
          <li>Question: {{ques.question}}</li>
          <li>Symptom: {{ques.symptom}}</li>
          <li>User Response: {{ques.user_response}}</li>
        </ul>
      </td>
    </tr> 

  </table>

</div>

<div class="container" style="text-align: center;">
  <a class="btn btn-primary" style="margin-right: 10px; width:90px;" (click)="goBack()">Back</a>
  <a class="btn btn-primary" style="margin-left: 10px;  width:90px;" routerLink="/video">Video Call</a>
</div>

<!-- <div class="patient-detail">
  <div *ngIf="patient" class="card">
    <div class="card-block">
      <h4 class="card-title">Name : {{patient.name}}</h4>
      <h5 class="card-title">Age : {{patient.age}}</h5>
      <p class="card-text">Sex : {{patient.sex}}</p>
      <h3 class="card-title">Diagnosis History</h3>
      <h4 class="card-title">Diagnose Condition</h4>
      <p class="card-text">Acuteness : {{patient.diagnosis_history.acuteness}}</p>
      <h5 class="card-title">Categories:</h5>
      <div *ngFor="let category of patient.diagnosis_history.categories">
        <ul>
            <li class="card-text">{{category}}</li>
        </ul>
      </div>
      <p class="card-text">Common Name : {{patient.diagnosis_history.common_name}}</p>
      <p class="card-text">Hint : {{patient.diagnosis_history.hint}}</p>
      <p class="card-text">Prevalence : {{patient.diagnosis_history.prevalence}}</p>
      <p class="card-text">Severity : {{patient.diagnosis_history.severity}}</p>
      <p class="card-text">Triage Level : {{patient.diagnosis_history.triage_level}}</p>
      <p class="card-text">Initial Symptom : {{patient.diagnosis_history.initial_symptoms}}</p>
      <h4 class="card-title">Possible Condition: </h4>
      <p class="card-text">Name : {{patient.diagnosis_history.possible_condition}}</p>
      <p class="card-text">Probability : {{patient.diagnosis_history.condition_probability}}</p>
      <h4 class="card-title">Questions: </h4>
      <div *ngFor="let ques of patient.diagnosis_history.questions">
        <ul>
            <li class="card-text">({{ques.question}}) ({{ques.symptom}}) ({{ques.user_response}}) </li>
        </ul>
      </div>    
  </div>
  <a class="btn btn-primary" (click)="goBack()">Back</a>
  <a class="btn btn-primary" routerLink="/video">Video Call</a>
</div> -->
